.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
span{
    margin:4px;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 10px;
    animation: loading 0.6s infinite;
    animation-direction: alternate;
}
span:nth-child(1){
    background-color: #4885ed;
    animation-delay: 0.2s;
}
span:nth-child(2){
    background-color: #db3236;
    animation-delay: 0.4s;
}
span:nth-child(3){
    background-color: #f4c20d;
    animation-delay: 0.6s;
}
span:nth-child(4){
    background-color: #3cba54;
    animation-delay: 0.8s;
}

@keyframes loading{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}